@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #01696f;
  --color-bg-light: #f7f6f2;
  --color-bg-dark: #171614;
  --color-text-light: #28251d;
  --color-text-dark: #f7f6f2;
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    @apply antialiased transition-colors duration-300;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--color-bg-dark);
      color: var(--color-text-dark);
    }
  }
}
